.a{
    width: 400px;
    border: solid 2px red;
    background-color: orange;
}
p{
    width: 200px;
    height: 100px;
    border: solid 2px green;
    background-color: orange;
    margin: 40px 0px 10px 20px;
}